.lesson-info-block {
    background-color: var(--bg3);
    padding: 14px;
    padding-left: 16px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;

    .title {
        font-weight: bold;
        font-size: 16px;
        color: var(--text2);
    }
    .marks {
        margin-top: 5px;
    }
    .homework-view {
        font-size: 18px;
        font-weight: 500;
        user-select: all;
        -webkit-user-select: all;
    }

    .last-changes-by {
        font-size: 14px;
        font-weight: 500;
        color: var(--text2);
    }
}