.Marks__Rating__Chart_Column {
    align-items: center;
    background-color: var(--bg4);
    border-radius: 7px;
    box-shadow: 0 0 0 2px var(--lvl4-borders) inset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;

    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 56px;

    .crown {
        color: var(--yellow);
        position: absolute;
        top: -38px;
    }

    &.own {
        background: var(--indigo);
        color: #fff;
    }

    .average-mark {
        font-size: 15px;
        font-weight: 600;
        height: 100%;
        text-align: center;
    }

    .avatar {
        align-self: flex-end;
        aspect-ratio: 1 /1;

        border-radius: 50%;
        display: block;
        object-fit: cover;
        padding: 4px;
    }

    .username {
        align-items: flex-end;
        display: flex;
        font-size: 12px;
        font-weight: 600;

        justify-content: center;
        letter-spacing: -0.3px;
        max-width: 54px;
        overflow-wrap: anywhere;
        text-align: center;
        word-break: break-all;
        word-wrap: break-word;
    }
}
