.instant-view {
    touch-action: none;
    .content {
        overflow-y: scroll;
        max-height: 100vh;
        background-color: #fff;
        filter: Invert(var(--inv));
        transition: filter 0.6s;
        padding-bottom: 150px;
        padding-top: calc(40px + env(safe-area-inset-top));
        padding-left: env(safe-area-inset-left);
    }
}