.Login {
    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0 auto;
        max-width: 360px;
        padding-top: 210px;
    }

    .group-title {
        color: var(--text1);
        font-size: 16px;
        font-weight: 600;
        margin: 12px;
        text-align: center;
    }

    .tg-auth-btn {
        margin: 0 auto;
        margin-top: 20px;
    }

    .header {
        align-items: center;
        background-color: var(--bg2);
        display: flex;
        height: 60px;
        justify-content: center;
        left: 0;
        padding: 8px;
        position: fixed;
        right: 0;

        .app-icon {
            border-radius: 9px;
        }
    }
}
