.MarksView {
    @media (min-width: 750px) {
        padding: 8px 10px;
    }

    .grid {
        display: grid;
        row-gap: 8px;
        grid-auto-flow: row;

        @media (min-width: 750px) {
            grid-auto-flow: column;
            grid-template-rows: repeat(8, auto);
            grid-template-columns: 1fr 1fr;
            column-gap: 12px;
            row-gap: 12px;
        }
    }
}

.QuarterMarks {
    @media (max-width: 600px) {
        padding: 12px;
        padding-top: 6px;
    }

    @media (max-width: 380px) {
        padding: 8px;
        padding-top: 4px;
    }
}
