.context-menu-btn {
    font-size: 16px;
    height: 38px;
    transition: color 150ms;
    width: 38px;

    &.active {
        color: var(--text2);
    }
}

.menu-items-wraper {
    position: fixed;
    transform: translateX(-100%);
    z-index: 998;
}

.menu-items {
    animation: context-menu 220ms cubic-bezier(0.38, 0.7, 0.125, 1);
    -webkit-backdrop-filter: blur(12px);
    background-color: var(--bg4-translucent);
    border-radius: 10px;
    box-shadow: -5px 12px 30px -8px var(--bg1);
    display: flex;
    flex-direction: column;
    gap: 6px;

    touch-action: none;
    transform-origin: top right;

    @keyframes context-menu {
        from {
            transform: scale(0.6);
        }

        to {
            transform: scale(1);
        }
    }
}
