.Now {
    background-color: var(--bg2);
    border-radius: 13px;
    color: var(--text1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
    width: 100%;

    @media (max-width: 360px) {
        border-radius: 0;
    }

    .block-title {
        color: var(--text2);
        font-size: 11px;
        margin: 6px;
        margin-bottom: 0;
        margin-top: 2px;
    }

    .actual-lesson-info {
        display: flex;
        gap: 6px;

        .left-block {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            max-width: calc(100% - 120px);
        }

        .subject-title {
            flex-grow: 1;
            font-size: 22px;
            margin: 5px;
            text-overflow: ellipsis;
        }
    }
}

.Progress {
    position: relative;

    .countdown {
        align-items: center;
        bottom: 0;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
