
.Chat {
    display: flex;
    justify-items: flex-end;

    height: 100%;
    padding-bottom: 68px;
    position: relative;
}



.Chat__Messages__Wraper {


    display: flex;
    flex-direction: column;

    padding: 10px;
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 100px;

    justify-content: flex-end;
    padding-bottom: 25px;
}



.Chat__Header {
    padding: 8px 10px;
    background-color: var(--bg2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    touch-action: none;
    color: var(--text);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .center-title {
        flex-grow: 1;
        text-align: center;
    }
}