.MarksCalculator {
    display: grid;
    grid-template-rows: 148px 1fr 334px;
    height: 100%;
    padding-bottom: 80px;

    @media (max-height: 700px) {
        grid-template-rows: 110px 1fr 260px;
    }

    .average-mark-wraper {
        margin: 0 auto;
        padding: 50px;
        position: relative;

        @media (max-height: 700px) {
            padding: 30px;
        }
    }

    .average-mark {
        align-items: center;
        bottom: 0;
        color: var(--text1);
        display: flex;
        font-size: 42px;
        font-weight: 700;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        will-change: transform opacity;

        @media (max-height: 400px) {
            font-size: 36px;
        }
    }

    .info {
        color: var(--text2);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        text-align: center;

        @media (max-height: 700px) {
            margin-bottom: 12px;
        }
    }

    .marks-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 20px;
        max-height: 76px;
        min-height: 35px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 2px 14px;

        @media (max-height: 700px) {
            gap: 4px;
            padding: 2px 12px;
        }
    }

    .marks-input-wrapper {
        border-top: 2px var(--borders) solid;
        padding-top: 30px;
    }
}
