.UserProfileHeader {
    .avatar {
        margin: 0 auto;
        display: block;
        border-radius: 18px;
        width: 180px;
        margin-top: 30px;
    }
    .name {
        text-align: center;
        font-size: 26px;
        margin-top: 17px;
    }
}