._Button {
	width: 100%;
	background-color: var(--bg3);
	height: 46px;
	padding: 10px;
	border-radius: 9px;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
