.ChatHeader {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    height: 44px;
    min-width: 260px;
    background-color: var(--bg3);

    border-radius: 9px;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 28px 1fr 28px;
    align-items: center;

    button {
        padding: 0;
    }
    
    .chat-title {
        color: var(--text1);
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}