

.Chat__Message.outcoming {
    .ContextMenu {

        right: 0;
    }
}
.ContextMenu {
    --x: -10%;

    touch-action: none;
    transform: translateX(var(--x));
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 999;
    position: absolute;
    top: 36px;
    padding: 6px;
    background: var(--bg2);
    box-shadow: -5px 5px 30px -1px var(--bg1);
    border-radius: 9px;


    @keyframes context-menu-in {
        from {
            opacity: 0;
            transform: scale(0.9) translateX(var(--x));
        }
        to {
            opacity: 1;
            transform: scale(1) translateX(var(--x));
        }
    }

    animation: context-menu-in 120ms ease-in-out;
}



.ContextMenu__Button {
    padding: 4px;
    height: 42px;
    width: 170px;
    display: grid;
    grid-template-columns: 28px 1fr;
    place-items: center;
    font-weight: bold;
    background: var(--bg3);
    border-radius: 7px;

    span {
        padding: 6px;
        font-size: 13px;
    }

    &:hover {
        filter: brightness(1.35);
        transition: filter 240ms;
    }

    &.danger {
        background-color: var(--red2);
    }

}

