.Overview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text1);

    .card {
        display: flex;
        padding: 9px;
        background: var(--bg2);
        border-radius: 13px;

        .title {
            margin: 0;
            font-size: 19px;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 4px;
            padding-top: 3px;
            padding-left: 10px;
        }

        .tool-btns-wraper {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .tool-btn {
                width: 110px;
                height: 40px;
                background-color: var(--bg3);
                border-radius: 7px;
            }
        }
    }

    .lesson {
        .homework {
            color: var(--text2);
            font-weight: 600;
            font-size: 16px;
        }
    }
}
