.week-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin: 0 auto;
    max-width: 1380px;
    padding-top: 58px;

    @media (min-width: 1000px) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.no-timetable-alert {
    display: grid;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    margin-top: 140px;
    max-width: 500px;
    place-items: center;
    text-align: center;
    width: 100%;
}
