.MarksCalculator {
    padding-bottom: 80px;
    .average-mark {
        margin: 30px;
        font-size: 44px;
        text-align: center;
    }

    @media (min-height: 800px) {
        .average-mark {
            margin: 40px;
            font-size: 50px;
            text-align: center;
        }
    }

    .marks-dispaly {
        min-height: 300px;
    }
    

    .info {
        margin-bottom: 14px;
        color: var(--text2);
        font-size: 14px;
        font-weight: 600px;
        text-align: center;
    }






    .marks-container {
        margin-bottom: 20px;
        min-height: 35px;

        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        padding-left: 20px;
        align-items: center;


    }







}