.MarksCalculator {
    position: relative;

    height: 100%;


    align-items: center;
    justify-content: center;
    padding: 12px;
    .average-mark {
        margin: 24px;
        font-size: 55px;
        text-align: center;
    }

    @media (min-height: 800px) {
        .average-mark {
            margin: 40px;
            font-size: 60px;
            text-align: center;
        }
    }

    .marks-dispaly {
        min-height: 300px;
    }
    

    .info {
        margin-bottom: 8px;
    }






    .marks-container {
        margin-bottom: 20px;


        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        justify-content: center;
        align-items: center;




        &.added {
            .mark {
                background-color: var(--primary);
            }
        }
        .mark {
            background-color: var(--bg4);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px;
            border-radius: 50%;
            width: 44px;
            height: 44px;
        }
    }







}