.homescreen-header {
    max-width: 1024px;
    margin: 0 auto;
    height: 66px;
    display: flex;
    gap: 6px;

    button, .menuBtn {
        padding: 0;
        margin: 0;
        min-width: 52px;
        height: 52px !important;
        background-color: var(--background2);
        border-radius: 9px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px !important;
    }

    .time {
        background-color: var(--background2);
        border-radius: 9px;
        width: 100%;
        height: 52px;
        flex-grow: 1;
        color: var(--text);
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        padding-left: 16px;
    }

}


.rings-row {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background3);
    border-radius: 5px;
    width: 150px;
    height: 34px;

    .index {
        font-size: 16px;
        color: var(--text3);
        font-weight: bold;
    }

    .content {
        font-weight: 500;
        color: var(--text);
    }
}

