.ActionSheet {
    background-color: var(--bg3);
    border-radius: 18px;
    bottom: calc(env(safe-area-inset-bottom) + 10px);
    left: 10px;
    margin: 0 auto;
    max-width: 500px;
    min-height: 300px;
    position: fixed;
    right: 10px;
    will-change: transform;
    z-index: 999;
}

.ActionSheet .top-close-btn {
    color: var(--text2);
    position: absolute;
    right: 8px;
    top: 8px;
}

.ActionSheetCloseBtn {
    align-items: center;
    background: var(--bg4);
    border-radius: 9px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 56px;
    justify-content: center;
    margin: 12px;
}
