.ActionSheet {
    background-color: var(--bg3);
    border-radius: 18px;
    bottom: max(10px, var(--bottom-save-zone));
    left: 10px;
    margin: 0 auto;
    max-width: 500px;
    min-height: 300px;
    position: fixed;
    right: 10px;
    will-change: transform;
    z-index: 999;
}

.ActionSheet .top-close-btn {
    align-items: center;
    background: var(--bg4);
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px var(--borders-soft) inset;
    color: var(--text2);
    display: flex;
    height: 38px;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 38px;
}

.ActionSheetCloseBtn {
    align-items: center;
    background: var(--bg4);
    border-radius: 9px;
    color: var(--text1);
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 56px;
    justify-content: center;
    margin: 12px;
}
