.SegmentedControl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    box-shadow: 0px 0px 0px 1.5px var(--borders-soft) inset;
    margin: 0;
    padding: 3px;
    list-style: none;
    background-color: var(--bg2);
    border-radius: 7px;
  
    .item {
      will-change: trnaform opacity;
      position: relative;
      margin-bottom: 0;

  
      &:after {
        position: absolute;
        top: 15%;
        right: -0.5px;
        display: block;
        width: 1px;
        height: 70%;
        background-color: var(--border);
        transition: opacity 200ms ease-out;
        content: '';
      }
  
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }

    .button {
      position: relative;
      margin: 0;
      padding: 14px 30px;
      color: var(--text1);
      line-height: 1;
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
    
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
    
    .label {
      position: relative;
      z-index: 2;
      font-size: 12px;
    }
    
    .active {
      will-change: transform;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: var(--bg4);
      border-radius: 5px;
      box-shadow: 0px 0px 0px 1.5px var(--lvl4-borders) inset;
      content: '';
    }
  }
  
  