.segmented-control {
    background-color: var(--segmented-control-bg);
    border-radius: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0;
    padding: 3px;

    .button {
        cursor: pointer;

        padding: 12px 20px;
        position: relative;

        &:first-of-type {
            transform-origin: 25% 50%;
        }

        &:last-of-type {
            transform-origin: 75% center;
        }
    }

    .label {
        font-size: 12px;
        pointer-events: none;
        position: relative;
        z-index: 99;
    }

    .active {
        background-color: var(--segmented-control-active-bg);
        border-radius: 7px;
        bottom: 0;
        box-shadow: 0 0 0 1.5px var(--lvl4-borders) inset;

        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}
