
.hw-re {
    color: var(--text1);
    .sol-subj {
        display: flex;
        padding: 10px;
        gap: 5px;
        margin-right: 50px;
        position: sticky;
        top: 0;
        z-index: 99;
        touch-action: none;

        .title {
            width: 90px;
            border-radius: 9px 0 0 9px;
            font-weight: bold;
            font-size: 14px;
            color: #fff !important;
        }

        .homework {
            flex-grow: 1;
            border-radius: 0px 9px 9px 0;
            font-weight: bold;
            font-size: 13px;
            overflow: auto;
        }

        @media (min-width: 700px) {
            margin-right: 160px;
        }

        .block {
            height: 38px;
            background-color: var(--bg3);
            box-shadow: 0px 0px 0px 1px var(--borders-soft) inset;
            border-radius: 5px;
            text-align: center;
            line-height: 38px;
        }
    }
}









