
.hw-re {
    color: var(--text1);


    .sol-subj {
        display: flex;
        padding: 11px;
        gap: 6px;
        margin-right: 52px;
        position: sticky;
        top: 0;
        z-index: 99;
        touch-action: none;
        

        .title {
            display: block;
            width: 94px;
            border-radius: 9px 0 0 9px;
            font-weight: bold;
            font-size: 14px;
            color: #fff;
            height: 42px;
            flex-shrink: 0;
        }

        .homework {
            flex-grow: 1;
            border-radius: 0px 9px 9px 0;
            font-weight: 600;
            font-size: 13px;
            overflow-x: auto;
            box-shadow: 0px 0px 0px 1.5px var(--borders-soft) inset;
        }

        @media (min-width: 700px) {
            margin-right: 160px;
        }

        .block {
            height: 40px;
            background-color: var(--bg3);
            border-radius: 5px;
            text-align: center;
            line-height: 40px;
        }
    }
}









