.alert {
	border: 2px solid var(--borders-soft);
	text-align: center;
	line-height: 42px;
	position: fixed;
	bottom: -60px;
	color: var(--text1);
	background-color: var(--bg2-TR);
	border-radius: 10px;
	padding: 5px 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 15px;
	font-weight: 800;
	z-index: 10;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	display: none;
}

@keyframes alert {
	from {
		transform: translateY(0) scale(0.8);
		opacity: 0;
	}
	to {
		transform: translateY(-150px) scale(1);
		opacity: 1;
	}
}

@keyframes alert-down {
	from {
		transform: translateY(-150px) scale(1);
		opacity: 1;
	}
	to {
		transform: translateY(0) scale(0.8);
		opacity: 0;
	}
}