.Mark {
    height: 34px;
    width: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 50%;
    background-color: var(--bg4);
    box-shadow: 0 0 0 1.2px var(--lvl4-borders) inset;
    font-size: 15px;
    font-weight: bold;

    @media (min-width: 500px) {
        height: 36px;
        width: 36px;
        font-size: 16px;
    }
}

.AboutMark {
    height: 380px;
    width: 100%;
    padding: 12px;

    display: grid;
    grid-template-rows: 22px 100px 1fr;
    gap: 10px;

    .modal-title {
        font-size: 13px;
        color: var(--text2);
        font-weight: 700;
        padding-left: 4px;
    }

    .info {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 30px 70px;
        column-gap: 20px;
    }

    .subject {
        font-size: 23px;
        font-weight: 600;
    }

    .time {
        display: flex;
        gap: 10px;
        align-items: center;
        color: var(--text2);
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 24px;
    }

    .mark-num {
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: var(--bg4);
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: 700;
        box-shadow: 0px 0px 0px 1px var(--lvl4-borders) inset;
    }

    .btns {
        align-self: flex-end;
        grid-template-rows: 54px 54px;
        display: grid;

        gap: 8px;

        button {
            padding: 0;
            margin: 0;
            background-color: var(--bg4);
            box-shadow: 0px 0px 0px 1px var(--lvl4-borders) inset;
            border-radius: 9px;
            display: grid;
            grid-template-columns: 20px 1fr;
            padding: 0 18px;

            align-items: center;
            font-size: 16px;

            i {
                font-size: 21px;
            }
            height: 54px;
        }

        .remove i {
            color: #ed4336;
        }
    }
}
