
@keyframes dropdownIn {
    from {
        opacity: 0.6;
        transform: scale(0.9) translateX(-45%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(-45%);
    }
}


.dropdown {
    --x: -80%;
    
    &.custom {
        --x: -68%;

        .dropdown-content {
            top: 60px !important;
        }
    }

    .menuBtn {
        height: 38px;
        width: 38px;
        font-size: 16px;
    }

    position: relative;


    .dropdown-content {
        transform: translateX(var(--x));
        display: flex;
        flex-direction: column;
        gap: 4px;
        z-index: 999;
        position: absolute;
        top: 36px;
        background-color: var(--background2);
        box-shadow: 0px 0px 0px 1px var(--borders-soft) inset;
        border-radius: 7px;
        padding: 5px;
    }


    .dropdown-content-enter {
        opacity: 0;
        transform: scale(0.9) translateX(var(--x));
    }

    .dropdown-content-enter-active {
        opacity: 1;
        transform: scale(1) translateX(var(--x));
        transition: all 200ms;
    }

    .dropdown-content-exit {
        opacity: 1;
    }

    .dropdown-content-exit-active {
        opacity: 0;
        transition: opacity 160ms;
    }


    .withIcon {
        padding: 4px;
        display: grid;
        grid-template-columns: 28px 1fr;
        place-items: center;
        border-radius: 5px;

        span {
            padding: 6px;
            font-size: 13px;
        }

        &:hover {
            filter: brightness(1.35);
            transition: filter 240ms;
        }

        background-color: var(--background3);


        &.danger {
            background-color: var(--red2);
        }
    }

    button {
        padding: 0;
    }
}

