._Switch {
    background: var(--bg3);
    border-radius: 9px;
    color: var(--text1);
    display: grid;
    gap: 14px;
    grid-template-columns: 52px 1fr 64px;
    min-height: 50px;
    padding: 10px;

    &.noPadding {
        padding: 0;
    }

    a {
        font-size: 16px;
        font-weight: 500;
    }

    .icon {
        align-items: center;
        background-color: var(--bg4);
        border-radius: 9px;
        display: flex;
        justify-content: center;
    }

    .ios7-switch {
        font-size: 32px;
        margin-top: 4px;
    }

    .label-block {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: space-between;
        padding-bottom: 6px;
        padding-top: 2px;

        .title {
            font-size: 16px;
            font-weight: 500;
        }

        .descr {
            color: var(--text2);
            font-size: 13px;
            font-weight: 300;
        }
    }
}

.ios7-switch input {
    opacity: 0;
    position: absolute;
}

.ios7-switch input + span {
    background: var(--bg3);
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 0.0625em var(--bg2);
    cursor: pointer;
    display: inline-block;
    height: 1em;
    position: relative;
    transition: all 0.45s cubic-bezier(0.17, 0.67, 0.43, 0.98);
    vertical-align: -0.15em;
    width: 1.65em;
}

.ios7-switch input + span::after {
    background: var(--text2);
    border-radius: 0.4375em;
    box-shadow: inset 0 0 0 0.03em rgb(0 0 0 / 10%);
    content: '';
    display: block;
    height: 0.875em;
    left: 0.0625em;
    position: absolute;
    top: 0.058em;
    transition: all 0.24s ease-out;
    width: 0.875em;
}

.ios7-switch input:checked + span::after {
    background: #fff;
}

.ios7-switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #31d058;
}

.ios7-switch input:checked + span::after {
    left: 0.7125em;
}
