.Rating__Chart__Wrapper {
    height: 400px;
}

.Rating__Chart {
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    overflow: hidden;

    .data-wraper {
        align-items: flex-end;
        display: flex;
        gap: 8px;
        grid-template-rows: 1fr;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 8px;

        &::-webkit-scrollbar {
            height: 8px;

            @media (min-width: 1000px) {
                height: 12px;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--bg4);
            border-radius: 20px;
        }
    }
}
