.hwr-sol-tools {
    display: flex;
    padding: 7px;
    gap: 5px;
}


.hwr-sol-tools .block {
    background: var(--bg3);
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 12px;
}

.hwr-sol-tools .center-section {
    display: flex;
    gap: 5px;
    flex-grow: 1;
    max-width: 270px;
    margin: 0 auto;
}


.hwr-sol-tools .center-section button {
    flex-grow: 1;
    
    
}


.hwr-sol-tools .num {
    font-weight: bold;
    border-radius: 7px;
}



.hwr-sol-imgs * {
    margin-bottom: 30px;
}

.hwr-sol-imgs img {
    filter: Invert(var(--inv));
    transition-duration: 0.12s;
}
