.ReactionBalancer {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;

    input {
        background-color: var(--bg3);
        border-radius: 7px;
        font-size: 18px;
        font-weight: 600;
        height: 50px;
        padding: 5px;
        padding-left: 10px;
    }
}
