.Modal {
    position: fixed;
    background-color: var(--background2);
    bottom: 70px;
    height: 320px;
    left: 12px;
    max-width: 700px;
    right: 12px;
    margin: 0 auto;
    border-radius: 13px;
    z-index: 999;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--text);
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        gap: 14px;
    }

    .buttons-container {
        display: flex;
        gap: 7px;
        
        .action-button {
            font-size: 15px;
            font-weight: bold;
            border-radius: 7px;
            flex-grow: 1;
            height: 44px;
            background-color: var(--background3);

            &.primary {
                background-color: var(--primary1);
            }
        }
    }
}

