.Category {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .Category-title {
        font-size: 23px;
        padding-left: 20px;
    }

    .Category-content {
        background: var(--bg2);
        border-radius: 9px;
        padding: 10px;

        .content-header {
            color: var(--text2);
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 12px;
            padding-left: 2px;
        }
    }
}

.NumInput {
    background-color: var(--bg4);
    border-radius: 7px;
    color: var(--text1);
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    padding: 0;
    text-align: center;
    user-select: auto !important;
    width: 50px;

    &:focus {
        filter: brightness(1.2);
    }
}

.tools-descr {
    color: var(--text2);
    font-size: 15px;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    width: 300px;
}
