.QEquation {
    .form {
        align-items: center;
        display: flex;
        font-size: 24px;
        font-weight: 600;
        gap: 5px;
        padding: 6px;
    }

    .solution-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;

        .line {
            font-size: 15px;
            font-weight: 600;

            .secondary {
                color: var(--text2);
            }
        }
    }
}
