
.view-panel {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit;
    header {
        & > .title {
            margin-top: calc(80px + env(safe-area-inset-top));
            font-size: 30px;
        }
    }

    .panel-element {
        background-color: var(--background3);
        box-shadow: 1px var(--borders-soft) inset;
        border-radius: 7px;
        align-items: center;
        padding: 0 10px;
        font-size: 28px;

        i {
            background-color: var(--background2);
            width: 32px;
            border-radius: 5px;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
        }

        &.switch {
            display: grid;
            grid-template-columns: 52px 1fr 46px;
            min-height: 50px;

            a {
                font-weight: 500;
                font-size: 16px;
            }

            .label-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 3px;
                padding-top: 12px;
                padding-bottom: 14px;
                .title {
                    font-weight: 500;
                    font-size: 16px;
                }
                .descr {
                    font-weight: 300;
                    font-size: 13px;
                    color: var(--text3);
                }
            }
        }
    }
}

.view-panel-enter {
    transform: translateX(110%);
}

.view-panel-enter-active {
    transition: transform 0.5s cubic-bezier(0.38, 0.7, 0.125, 1);
    transform: none;
}

.view-panel-exit {
    transition: transform 0.5s;
    transform: none;
}
.view-panel-exit-active {
    transform: translateX(120%);
}





.view-panel-main-enter {
    transform: translateX(-110%);
    opacity: 0;
}

.view-panel-main-enter-active {
    transition: all 0.5s cubic-bezier(0.38, 0.7, 0.125, 1);
    transform: none;
    opacity: 1;
}

.view-panel-main-exit {
    transition: all 0.5s;
    transform: none;
    opacity: 1;
}
.view-panel-main-exit-active {
    transform: translateX(-120%);
    opacity: 0;
}


.panel-header {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--background3);
    box-shadow: 1px var(--borders-soft) inset;
    border-radius: 7px;
    height: 46px;
    display: flex;
    align-items: center;
    
    button {
        left: 5px;
        position: absolute;
        font-size: 22px;
    }

    .title {
        flex-grow: 1;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}

.panel-header-icon {
    position: absolute;
    left: 10px;
    background-color: var(--background2);
    width: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}


