.backdrop {
    will-change: opacity;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    touch-action: none;
    overflow: hidden;
    background: var(--backdrop);
    z-index: 998;

    opacity: 0;
}