.homescreen-layout {
    align-items: start;
    display: grid;
    gap: 12px;
    margin: 0 auto;
    max-width: 1048px;
    position: relative;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(370px, 1fr)) !important;
    }

    .side-left {
        display: grid;
        gap: 12px;
    }
}
