
#lockscreen {
    will-change: transform;
    display: none;
    padding-top: env(safe-area-inset-top);
    &.unactive {
        transform: translateY(-100vh);
        transition: transform 0.4s;
    }
    &.active {
        display: grid;
    }
    #indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-top: 60px;
        .char {
            border-radius: 50%;
            background-color: var(--text4);
            width: 14px;
            height: 14px;
            &.active {
                background-color: var(--text);
            }
        }
    }
    #invalid-alert {
        margin-top: 8px;
        color: red;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        visibility: hidden;
        &.active {
            visibility: visible;
        }
    }
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: var(--backgroundTR2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    grid-template-rows: 100px 60px 1fr;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    #icon svg {
        display: block;
        margin-top: 200px;
        margin: 0 auto;
        color: #fff;
    }
    #numpad {
        width: 300px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 11px;
    }
    #numpad button {
        border-radius: 50%;
        font-size: 26px;
        font-weight: bold;
        background-color: var(--background3);
        transition: filter 0.3s;

        &.clicked {
            filter: brightness(1.5);
            transition: filter 0.3s;
        }
    }
    #numpad button.hiden {
        visibility: hidden;
    }

    @media (max-height: 630px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 60px 1fr;

        #numpad {
            width: 150px;
            height: 200px;
            grid-column-start: 2;
            grid-column-end: 3;

            grid-row-start: 1;
            grid-row-end: 4;
        }
    }
}