
.side-view {
	overflow: hidden;
	background-color: var(--background2);
	color: var(--text);
	position: fixed;
	width: 100vw;
	bottom: 0;
	

	&.right {
		right: 0;
		--delta: Min(420px, 100vw);
	}

	&.left {
		left: 0;
		--delta: calc(Min(420px, 100vw) * -1);
	}


	&.side-view-enter {
		transform: translateX(var(--delta));
	}

	&.side-view-enter-active {
		transition: transform 0.6s cubic-bezier(0.38, 0.7, 0.125, 1);
		transform: none;
	}
	
	&.side-view-exit {
		transition: transform 0.4s;
		transform: none;
	}
	&.side-view-exit-active {
		transform: translateX(var(--delta));
	}

	&.right .close {
		left: 10px;
	}
	&.left .close {
		right: 10px;
	}
	
	top: 0;
	z-index: 3;
	will-change: transform;

	max-width: 420px;

	@media screen and (orientation: portrait) and (max-width: 780px) {
		max-width: 100%;
	}
}


.side-view-header {
	min-height: 60px;
	padding-top: env(safe-area-inset-top);
	background-color: var(--background3);
	align-items: center;
	display: flex;
	position: relative;

	.close {
		position: absolute;
		font-size: 23px;
		width: 50px;
		height: 60px;
		bottom: 0;
	}

	.title {
		font-size: 17px;
		flex-grow: 1;
		font-weight: bold;
		text-align: center;
	}
}

.side-view-content {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 100px;
	overflow: auto;
	max-height: 100%;
}