@media (min-width: 700px) {
	body:not(.min-right, .min-left) .bottom-nav {
		height: calc(46px + env(--bottom-save-zone));

		.nav-content {
			height: 46px;
		}

		.NavButton {
			justify-content: center;
			flex-direction: row;
			font-size: 15px;
			gap: 11px;
			vertical-align: middle;
		}
	}
}

.bottom-nav {
	left: 0;
	right: 0;
	position: fixed;
	background-color: var(--NavBackground);
	bottom: 0;
	height: calc(50px + var(--bottom-save-zone));
	border-top: 1px solid var(--borders);
	z-index: 3;
	-webkit-backdrop-filter: blur(18px);
	backdrop-filter: blur(18px);

	.NavButton {
		display: flex;
		flex-direction: column;
		transition: color 0.2s;
		align-items: center;
		font-size: 11px;
		font-weight: 600;
		color: var(--NavBtn);
		flex-grow: 1;
		cursor: pointer;

		@keyframes navBtn {
			0% {
				transform: none;
			}
			40% {
				transform: scale(0.97);
			}
			100% {
				transform: none;
			}
		}

		&.active {
			color: var(--NavBtnActive);
			animation: navBtn 0.25s;
			transition: color 0.25s;
		}
	}

	.nav-content {
		display: flex;
		align-items: center;
		height: 50px;
	}
}
