.SubjectMarks {
    min-height: 88px;

    @media (min-width: 500px) {
        min-height: 98px;
        grid-template-columns: 8px 1fr 82px;
        border-radius: 3px 9px 9px 3px;
        overflow: hidden;
    }

    display: grid;

    grid-template-columns: 7px 1fr 70px;
    background: var(--bg2);


    &.embedded {
        grid-template-columns: 1fr 80px;
        border-radius: 7px;

        .average-mark {
            font-size: 24px;
        }
    }



    .main-content {

        display: flex;
        flex-direction: column;
        padding: 9px;
        padding-left: 11px;
        gap: 12px;

        .subject-title {
            margin: 0;
            font-size: 18px;
            font-weight: 600;

            text-indent: 6px;
        }

        .marks-container {
            display: flex;
            flex-wrap: wrap;

            gap: 6px;
        }


        @media (min-width: 500px) {
            padding: 12px;
            

            .subject-title {
                font-size: 20px;
            }

            .marks-container {
                gap: 8px;
            }
        }
    }

    .average-mark {
        background: var(--bg3);
        font-size: 19px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 11px;
        margin-right: 0;
        margin-left: 0;
        border-radius: 7px 0 0 7px;
        
        @media (min-width: 500px) {
            font-size: 22px;
            margin-right: 11px;
            border-radius: 7px;
        }
    }

}



.Mark {
    height: 35px;
    width: 35px;

    @media (min-width: 500px) {
        height: 37px;
        width: 37px;
        font-size: 16px;
    }

    border-radius: 18px;
    background-color: var(--bg3);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: bold;
}


.AddMarkDialog {
    color: var(--text1);
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;

    .mark-info {
        background-color: var(--bg4);
        padding: 7px;
        border-radius: 9px;
        padding-left: 7px;

        .title {
            font-size: 15px;
            margin: 7px;
        }

        .subject {
            color: var(--text2);
            font-size: 14px;
            margin: 7px;
        }
        
    }
}