._TableList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: var(--bg3);
        border-radius: 9px;
        gap: 12px;
        padding: 4px 20px;
    }

    .row-title {
        color: var(--text2);
    }

    .row-content {
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: keep-all;
        width: 100%;
        overflow: hidden;
    }
}