.Updater {
    background: var(--bg3);
    border-radius: 9px;
    color: var(--text1);
    display: grid;
    gap: 14px;
    grid-template-columns: 52px 1fr 110px;
    min-height: 69px;
    padding: 10px;
    position: relative;

    .check-btn {
        align-items: center;
        background-color: var(--bg4);
        border-radius: 9px;
        display: flex;
        justify-content: center;

        @keyframes check-btn-spin {
            100% {
                transform: rotate(360deg);
            }
        }

        &.active {
            svg {
                animation: check-btn-spin 1s infinite;
            }
        }
    }

    .descr {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 15px;
            font-weight: bold;
        }

        .info {
            color: var(--text2);
            font-size: 13px;
        }
    }

    .update-btn {
        align-items: center;
        background-color: var(--indigo);
        border-radius: 9px;
        color: #fff;
        display: flex;
        font-size: 16px;
        justify-content: center;
    }

    @media (min-width: 500px) {
        grid-template-columns: 52px 1fr 170px;
    }
}
