.chats-list {
    color: var(--text1);

    h1 {
        font-size: 40px;
        text-indent: 30px;
    }

    .chats-wraper {
        padding: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 14px;
    }

    .chat-btn {
        border-radius: 11px;
        height: 80px;
        display: block;
        width: 100%;
        background-color: var(--bg2);
    }
}