.SubjectMarks {
    background: var(--bg2);
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px var(--borders-soft) inset;
    display: grid;
    grid-template-columns: 6px 1fr 60px;
    min-height: 90px;
    padding: 5px;

    .color-indicator {
        border-radius: 2px;
    }

    @media (min-width: 500px) {
        border-radius: 7px;
        grid-template-columns: 6px 1fr 70px;
        padding: 7px;

        .color-indicator {
            border-radius: 3px;
        }
    }

    &.embedded {
        border-radius: 7px;
        box-shadow: none;
        grid-template-columns: 1fr 70px;
        padding: 0 !important;

        .average-mark {
            font-size: 24px;
        }

        .average-mark-tools {
            > * {
                background: var(--bg3);
                box-shadow: 0 0 0 1px var(--borders-soft) inset;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 6px;
        padding-left: 11px;

        .subject-title {
            font-size: 17px;
            font-weight: 600;
            margin: 0;
            padding-left: 2px;
        }

        .marks-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        @media (min-width: 500px) {
            padding: 10px;

            .subject-title {
                font-size: 19px;
            }

            .marks-container {
                gap: 7px;
            }
        }
    }
}
