.flexRow {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    gap: 5px;

    .rowBlock {
        background-color: var(--bg3);
        border-radius: 5px;
        box-shadow: 0 0 0 1.4px var(--borders-soft) inset;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .medium {
        align-items: center;
        color: #fff;
        display: flex;
        flex-shrink: 0;
        font-weight: bold;
        justify-content: center;
        width: 88px;

        @media (max-width: 360px) {
            width: 80px;
        }
    }

    .mainField {
        cursor: pointer;
        display: grid;
        flex-grow: 1;
        grid-template-columns: 1fr;
        position: relative;
        white-space: nowrap;

        &.with-link {
            grid-template-columns: 1fr 36px;
        }

        .homework {
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 8px;

            &::-webkit-scrollbar {
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--bg4);
                border-radius: 10px;
            }
        }
    }

    &:last-child div:first-of-type {
        border-radius: 5px 5px 5px 9px;
    }

    &:last-child div:last-of-type {
        border-radius: 5px 5px 9px;
    }

    &.SubjectRow-danger {
        .rowBlock {
            border-radius: 0 0 5px 5px !important;
            border-top: none;
        }

        .medium {
            box-shadow: none;
        }
    }
}

.SubjectRow-danger-title {
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: -6px;
    padding: 3px;
    padding-left: 10px;
    text-align: center;
}
