* {
    box-sizing: border-box;
    font-family: ui-rounded, Roboto, Ubuntu, 'segoe ui', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
}

input,
textarea {
    background: none;
    border: 0;
    outline: none;
    -webkit-user-select: auto;
    user-select: auto;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    outline: none;
    padding: 0;
}

:root {
    --inv: 0.92;
    --tab-bar-height: 46px;
    --save-height: calc(100vh - var(--tab-bar-height) - env(safe-area-inset-bottom));

    @supports (height: 100svh) {
        --save-height: calc(100svh - var(--tab-bar-height) - env(safe-area-inset-bottom));
    }
}

body,
html,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: var(--bg1);

    &.unfocused {
        background-color: var(--theme-color-when-unfocused);
        transition: background 0.3s;
    }
}
