:root {
    --text: #E8E8E8;
    --text3: #8E8E93;
    --text4: #595959;
    --background: #0F0F0F;
    --background2: #1B1B1B;
    --background3: #232323;
    --backgroundTR: #0f0f0fea;
    --backgroundTR2: #0f0f0f85;
    --zombie-load: #2c2c2c;
    --borders: rgba(50, 50, 50, 0.4);
    --borders-soft: rgba(50, 50, 50, 0.2);
    --inv: 0.87;
    --bottom-nav: #1B1B1Be0;
    --danger: #f57c00;
    --primary1: #5D4AE2;
}

:root[theme="light"] {
    --text: #292929;
    --text3: #8E8E93;
    --background: #F2F3F4;
    --background2: #FDFEFF;
    --background3: #F4F4F4;
    --backgroundTR: #F2F3F4ea;
    --zombie-load: #e6e6e6;
    --borders: rgba(227, 227, 227, 0.4);
    --borders-soft: rgba(227, 227, 227, 0.2);
    --inv: 0.87;
    --bottom-nav: #FDFEFFe0;
}

:root[theme="purple"] {
    --text: #fff;
    --text3: #8E8E93;
    --background: #210340;
    --background2: #360A6C;
    --background3: #460A84;
    --backgroundTR: #210340ea;
    --zombie-load: #540f99;
    --borders: rgba(80, 25, 136, 0.4);
    --borders-soft: rgba(80, 25, 136, 0.2);
    --inv: 0.87;
    --bottom-nav: #360A6Ce0;
}

:root[theme="sepia"] {
    --text: #292929;
    --text3: #646464;
    --background: #F0DCBB;
    --background2: #F8EBD4;
    --background3: #fff6e8;
    --backgroundTR: #F0DCBBea;
    --zombie-load: #ffffff;
    --borders: rgba(255, 255, 254, 0.4);
    --borders-soft: rgba(255, 255, 254, 0.2);
    --inv: 0.87;
    --bottom-nav: #F8EBD4e0;
}

:root[theme="blue"] {
    --text: #fff;
    --text3: #8E8E93;
    --background: #091327;
    --background2: #0A1B3C;
    --background3: #10244A;
    --backgroundTR: #091327ea;
    --zombie-load: #0f2a5e;
    --borders: rgba(19, 46, 99, 0.4);
    --borders-soft: rgba(19, 46, 99, 0.2);
    --inv: 0.87;
    --bottom-nav: #0A1B3Ce0;
}

* {
    font-family: ui-rounded, "Roboto", 'Ubuntu', 'SF Pro Rounded', 'segoe ui';
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    overscroll-behavior: none;
}

input {
    -webkit-user-select: all;
    user-select: all;
}

button {
    color: var(--text);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

body {
    background-color: var(--background);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    touch-action: none;
}

.min-right {
    padding-left: Min(720px, 50vw);

    .bottom-nav {
        padding-left: Min(720px, 50vw);
    }
}

.min-left {
    padding-right: Min(720px, 50vw);

    .bottom-nav {
        padding-right: Min(720px, 50vw);
    }
}

.noscroll {
    overflow: hidden;
    touch-action: none;
}

::-webkit-scrollbar {
    width: 0;
}

.template {
    display: none;
}
.p10 {
    padding: 10px;
    padding-bottom: 200px;
}

.center {
    margin: 0 auto;
}

.UIBlock {
    background-color: var(--background2);
    box-shadow: 0px 0px 0px 1px var(--borders-soft) inset;
    border-radius: 14px;
    padding: 7px;
    position: relative;
    color: var(--text);
    margin-bottom: 10px;

    h1 {
        font-size: 26px;
        text-indent: 12px;
        line-height: 44px;
    }
    .table-btn {
        position: absolute;
        top: 7px;
        background-color: var(--background3);
        padding: 10px;
        border-radius: 7px;
        width: 38px;
        height: 38px;
        box-shadow: 0px 0px 0px 1px var(--borders-soft) inset;
        &.share {
            right: 7px;
        }
        &.open-all {
            right: 52px;
        }
    }
    .content {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        gap: 6px;
    }
}




#statusBarBg {
    width: 100vw;
    height: env(safe-area-inset-top, 10px);
    background-color: var(--backgroundTR2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    display: block;
    touch-action: none;
    top: 0;
    left: 0;
    z-index: 99999;
}


.bottom-nav {
    box-sizing: content-box;
    display: flex;
    position: fixed;
    background-color: var(--bottom-nav);
    color: var(--text);
    font-size: 22px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    border-top: 1px solid var(--borders);
    z-index: 2;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding-bottom: env(safe-area-inset-bottom);
    touch-action: none;
    transform: translate3d(0, 0, 0);
    span {
        justify-content: space-around;
        display: flex;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        &[active="false"] {
            filter: opacity(0.6);
            transition: transform 0.2s;
        }
        &[active="true"] {
            transform: scale(1.13);
            transition: transform 0.2s;
        }
    }
}

@media (orientation: landscape) {
    body {
        padding-right: env(safe-area-inset-left);
        padding-left: env(safe-area-inset-left);
    }
}

@media (orientation: portrait) {
    .app {
        padding-bottom: 200px;
    }
}

@keyframes scaleup2 {
    from {
        filter: opacity(0.5);
        transform: scale(0.85);
    }
    to {
        filter: opacity(1);
        transform: scale(1);
    }
}

@keyframes scaleup {
    from {
        filter: opacity(0);
        transform: scale(0.6);
    }
    to {
        filter: opacity(1);
        transform: scale(1);
    }
}

.app {
    display: none;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;
    
}



.app.active {
    display: block;
    animation: scaleup2 0.18s;
    animation-fill-mode: both;
}

.center-auto {
    padding: 10px;
    padding-top: calc(env(safe-area-inset-top, 10px) + 10px);
    padding-bottom: 120px;
    margin: 0 auto;
}

.mw600 {
    max-width: 600px;
}

@media (max-width: 360px) {
    .table {
        border-radius: 0 !important;
    }
    .week-grid {
        grid-template-columns: repeat(auto-fit, Minmax(290px, 1fr)) !important;
    }
    .center-auto {
        padding-left: 0;
        padding-right: 0;
    }
}






.alert {
    border: 2px solid var(--borders);
    text-align: center;
    line-height: 42px;
    position: fixed;
    bottom: -60px;
    color: var(--text);
    background-color: var(--backgroundTR2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 5px 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 15px;
    font-weight: 800;
    z-index: 10;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: none;
}

@keyframes alert {
    from {
        transform: translateY(0) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(-150px) scale(1);
        opacity: 1;
    }
}

@keyframes alert-down {
    from {
        transform: translateY(-150px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(0) scale(0.8);
        opacity: 0;
    }
}



.window {
    touch-action: none;
    background-color: var(--background);
    color: var(--text);
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: 0;
    z-index: 3;
    transition: transform 0.4s cubic-bezier(.51, .16, .55, .9);
    will-change: transform;
    &[max="true"] {
        max-width: Min(720px, 50vw)
    }
    &[max="false"] {
        max-width: 420px;
    }
    @media screen and (orientation: portrait) and (max-width: 780px) {
        &[max="true"] {
            max-width: 100%;
        }
    }
    &[side="right"] {
        right: Min(-420px, -100vw);
        border-left: 1px var(--borders) solid;
    }
    &[side="left"] {
        left: -780px;
        border-right: 1px var(--borders) solid;
    }
    &[side="bottom"] {
        top: auto !important;
        bottom: -460px !important;
        right: 0;
        height: 460px;
        border-radius: 12px 12px 0 0px;
        border-top: 1px var(--borders) solid;
        border-left: 1px var(--borders) solid;
        border-right: 1px var(--borders) solid;
    }
    &.active {
        transition: transform 0.45s;
    }
    &.active[side="right"] {
        transform: translateX(Min(-420px, -100vw));
    }
    &.active[side="left"] {
        transform: translateX(780px);
    }
    &.active[side="bottom"] {
        transform: translateY(-460px);
    }
    .close {
        margin-top: env(safe-area-inset-top);
        background-color: var(--background2);
        color: var(--text4);
        border-radius: 7px;
        position: absolute;
        top: 10px;
        font-size: 20px;
        width: 67px;
        height: 34px;
        z-index: 999;
    }
    &[side="right"] .close {
        left: 10px;
    }
    &[side="left"] .close {
        right: 10px;
    }
    &[side="bottom"] .close {
        top: 10px;
        right: 10px;
    }
    .title {
        margin-top: 70px;
        font-size: 30px;
    }
}



#lockscreen {
    will-change: transform;
    display: none;
    &.unactive {
        transform: translateY(-100vh);
        transition: transform 0.4s;
    }
    &.active {
        display: grid;
    }
    #indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-top: 60px;
        .char {
            border-radius: 50%;
            background-color: var(--text4);
            width: 14px;
            height: 14px;
            &.active {
                background-color: var(--text);
            }
        }
    }
    #invalid-alert {
        margin-top: 8px;
        color: red;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        visibility: hidden;
        &.active {
            visibility: visible;
        }
    }
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: var(--backgroundTR2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    grid-template-rows: 100px 60px 1fr;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    #icon svg {
        display: block;
        margin-top: 200px;
        margin: 0 auto;
        color: #fff;
    }
    #numpad {
        width: 300px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 11px;
    }
    #numpad button {
        border-radius: 50%;
        font-size: 26px;
        font-weight: bold;
        background-color: var(--background3);
    }
    #numpad button.hiden {
        visibility: hidden;
    }
}
