
#settings {
    .content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 14px;
        gap: 14px;
    }
    .block {
        background-color: var(--background2);
        box-shadow: 0px 0px 0px 1px var(--borders-soft) inset;
        border-radius: 7px;
    }
    .theme {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        span {
            border-radius: 100%;
            height: 52px;
            width: 52px;
            cursor: pointer;
        }
    }
    .config {
        .line {
            display: grid;
            grid-template-columns: 52px 1fr 46px;
            height: 52px;
            align-items: center;
            padding: 0 10px;
            font-size: 28px;
            i {
                background-color: var(--background);
                width: 32px;
                border-radius: 5px;
                text-align: center;
                line-height: 32px;
                font-size: 14px;
            }
            a {
                font-weight: 500;
                font-size: 16px;
            }
        }
        div {
            box-shadow: 0px 1px 0px var(--borders);
        }
        div:last-of-type {
            box-shadow: none;
        }
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        button {
            flex-grow: 1;
            padding: 12px;
            font-size: 13px;
        }
    }
}

.ios7-switch input {
    opacity: 0;
    position: absolute;
}

.ios7-switch input+span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17, .67, .43, .98);
    cursor: pointer;
}

.ios7-switch:active input+span,
.ios7-switch input+span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input+span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-out;
}

.ios7-switch:active input+span:after,
.ios7-switch input+span:active:after {
    width: 1.15em;
}

.ios7-switch input:checked+span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}

.ios7-switch input:checked+span:after {
    left: 0.7125em;
}

.ios7-switch:active input:checked+span:after,
.ios7-switch input:checked+span:active:after {
    left: 0.4375em;
}

#securitySettings {
    .content {
        padding: 12px;
    }
    .code {
        display: flex;
        flex-direction: column;
        gap: 12px;
        input {
            border: none;
            outline: none;
            background-color: var(--background2);
            border-radius: 7px;
            height: 40px;
            font-size: 16px;
            color: var(--text);
            text-indent: 10px;
            &::placeholder {
                font-size: 14px;
                font-weight: 600;
                color: var(--text3);
            }
        }
        button {
            margin-top: 10px;
            background-color: var(--primary1);
            height: 40px;
            border-radius: 7px;
        }
        .info {
            font-size: 13px;
            color: var(--text3);
            text-indent: 10px;
        }
    }
}