.note {
    background-color: var(--bg3);
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--borders-soft) inset;
    padding-right: 32px;
    position: relative;

    textarea {
        color: var(--text1);
        font-size: 17px;
        margin-top: 5px;
        padding: 8px;
        padding-left: 10px;
        resize: none;
        width: 100%;
    }

    .context-menu-btn {
        position: absolute;
        right: 0;
        top: 3px;
    }

    &.pinned {
        background-color: var(--red);
        transition: background 0.3s;

        textarea {
            color: #fff !important;
            font-weight: 600;
        }

        ::placeholder {
            color: #fff;
        }

        > * {
            color: var(--text1) !important;
        }

        .context-menu-btn {
            color: #fff !important;
        }
    }

    &:last-of-type {
        border-radius: 5px 5px 9px 9px;
    }
}
