.Rating {
    display: grid;
    gap: 10px;
    margin: 0 auto;

    .block-left {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
            width: 100%;
        }
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }

    .stat {
        align-items: center;
        background-color: var(--bg2);
        border-radius: 9px;
        box-shadow: 0 0 0 1.5px var(--borders-soft) inset;
        display: grid;
        grid-template-columns: 1fr 70px;
        height: 46px;
        padding-left: 12px;

        .title {
            color: var(--text2);
            font-size: 15px;
            font-weight: 600;
        }

        .num {
            font-weight: bold;
            text-align: center;
        }
    }
}
