.Rating {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    max-width: 760px;
    padding: 12px;

    @media (max-width: 600px) {
        padding: 12px;
        padding-top: 6px;
    }

    @media (max-width: 380px) {
        padding: 8px;
        padding-top: 4px;
    }

    .stat {
        align-items: center;
        background-color: var(--bg2);
        border-radius: 5px;
        box-shadow: 0 0 0 1.5px var(--borders-soft) inset;
        display: grid;
        grid-template-columns: 1fr 70px;
        height: 46px;
        padding-left: 12px;

        .title {
            color: var(--text2);
            font-size: 15px;
        }

        .num {
            font-weight: bold;
            text-align: center;
        }
    }
}
